footer {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    border-top: solid lightgray;
    align-items: center;


}

.photoAndTextContainer {
    display: inline-flex;
    margin: 4em;
    align-items: center;

}

.photo {
    width: 120px;
    margin-top: 3em;
    border-radius: 50%;

}

.text {
    font-size: 1.25em;
    margin: 10px;
    text-align: center;
}

.iconContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.icon {
    width:64px;
    margin:20px;
    margin-top: 20px;
}