header {
    margin-bottom: 10px;

    min-width: 100%;
    display: flex;
    flex-direction: column;
}
.name {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    font-weight: bolder;
    color: #38149c;
}
.name h1 {
    margin-bottom: 5px;
}
.name a {
    color: #454545;
}
.name a:hover {
    border: solid transparent 0px;
}

.nav {
    margin-left:1em;
}
