header {
    margin-bottom: 2em;

    min-width: 100%;
    display: flex;
    flex-direction: column;
}

.name {
    display: flex;
    flex-direction: column;
    margin-left: 4em;
    font-weight: bolder;
    color: #38149c;
}
.name a {
    color: #454545;
}
.name a:hover {
    border: solid transparent 0px;
}

.nav {
    margin-right: 4em;
    margin-left: 4em;
}
