.landingContainer {
    max-width: 900px;
    margin: auto;
    text-align: left;

    min-height: 100vh;
    display: flex;
    align-items: center;
}
.projectsContainer {
    max-width: 900px;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

.seperator {
    /* margin: 0;
    
    
    border-right: solid #e1dee7;
    display: inline; */
    margin-right: 10px;
    padding-left: 10px;

    font-weight: 400;
}

.name {
    font-size: 72px;
    color: #000;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    text-align: left;
}

.subtitle {
    font-size: 36px;
    font-weight: 400;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    text-align: left;
}

.subtitleBody {
    font-size: 24px;
    font-weight: 400;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    text-align: left;
    margin: 0;
}

.subtitleLinks {
    margin-top: 20px;

    color: #e1dee7;

    /* text-decoration: underline; */
    animation-name: delayedFadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;

    text-align: left;
}

.subtitleLinks a {
    font-size: 24px;
    line-height: 19px;
    padding-bottom: 3px;
}
.subtitleLinks a:hover {
    cursor: pointer;
    text-decoration: none;
}

.welcome {
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes delayedFadeInOpacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scrollDownContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    height: 0px;
}
.arrow {
    color: #e1dee7;
    font-size: 80px;
    margin-top: -60px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    text-align: center;
    height: 0;
}

@media (max-width: 959px) {
    .landingContainer {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .name {
        font-size: 36px;
        margin: 0;
    }
    .subtitle {
        font-style: normal;
        font-size: 24px;
        max-width: 300px;
    }
    .subtitleBody {
        font-style: normal;
        font-size: 18px;
        max-width: 300px;
    }

    .subtitleLinks {
        font-size: 16px;
        line-height: 19px;
        max-width: 300px;
    }
    .subtitleLinks a {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        max-width: 300px;
    }
}
