.landingContainer {
    height: 100vh;
    width: 100%;
}

.seperator {
    /* margin: 0;
    
    margin-right: 5px;
    padding-left: 5px;
    border-right: solid #e1dee7;
    display: inline; */
    font-weight: 400;
}

.name {
    font-size: 70px;
    color: #38149c;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    text-align: center;
}

.subtitle {
    font-size: 24px;
    font-weight: 400;
    max-width: 700px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    text-align: center;
}

.subtitleLinks {
    margin-top: 0px;

    color: #e1dee7;

    /* text-decoration: underline; */
    animation-name: delayedFadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;

    text-align: center;
}

.subtitleLinks a {
    font-size: 24px;
    line-height: 19px;
    padding-bottom: 3px;
    margin: 10px;
}
.subtitleLinks a:hover {
    cursor: pointer;
    text-decoration: none;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: calc(100vh - 120px);
    padding-top: 120px;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes delayedFadeInOpacity {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.button {
    width: 100px;
    height: 60px;
    border: solid transparent;
    border-radius: 5%;
    background-color: transparent;
    color: #e1dee7;
    font-size: 1.25em;
    padding: 10px;
    margin: 20px;
    font-weight: bold;
}
.scrollDownContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-items: center;
    height: 0px;
}
.arrow {
    color: #e1dee7;
    font-size: 80px;
    margin-top: -60px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    text-align: center;
    height: 0;
}

@media (max-width: 500px) {
    .name {
        font-size: 50px;
    }
    .subtitle {
        font-style: normal;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        max-width: 300px;
    }
    .subtitleLinks {
        font-size: 16px;
        line-height: 19px;
        max-width: 300px;
    }
    .subtitleLinks a {
        font-weight: 500;
        margin: 10px;
        font-size: 16px;
        line-height: 19px;
        max-width: 300px;
    }
}
