.projectsContainer {
    max-width: 900px;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}

.projectRow {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-left: solid lightgray 1px;
    border-right: solid lightgray 1px;
    margin-bottom: 80px;
}

.projectColumn {
    display: flex;
    margin-top: 1em;
    flex-direction: column;
    justify-content: center;
}

.projectColumn ul {
    text-align: left;
}

.projectTitle {
    margin: 0px;
    margin-bottom: 20px;
    font-weight: 500;
}

.projectImage {
    height: 200px;
    min-width: 350px;
    width: fit-content;
    margin: 30px;
    margin-top: 0;
    box-shadow: 2px 4px 10px 4px #555555;
}
.projectDescription {
    max-width: 400px;
    text-align: left;
}

.projectText {
    margin-bottom: 10px;
}

.labelContainer {
    color: #ffffff;
    font-weight: 300;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.linksContainer {
    margin-bottom: 15px;
}

@media (max-width: 959px) {
    .projectsContainer {
        width: 80%;
    }
    .projectRow {
        border-left: solid transparent 1px;
        border-right: solid transparent 1px;
    }
    .projectsContainer {
        text-align: center;
    }
}
@media (max-width: 500px) {
    .projectImage {
        min-width: 100%;

        margin: 30px;
        margin-top: 0;
        box-shadow: 2px 4px 10px 4px #555555;
    }
}
